<body>
    <header>
        <div class="head">
            <div class="cont">
                <img class="imagen1" src="./assets/imagenes/campos.png"/>
                <a href="#" class="navbar-brand">CampoTrabajo</a>
            </div>
            
        </div>
    </header>
    <div class="body">
        <img class="imagen2" src="./assets/imagenes/wheat.png"/>
        <div class="formulario">
            <p>Iniciar sesion</p>
            <input class="celular" type="text">
            <input class="contraseña" type="text">
            <button class="comenzar">Comenzar</button>
        </div>
        <img class="imagen3" src="./assets/imagenes/wheat.png"/>
    </div>

    <footer>
        <div class="footer">
            <nav class="navbar2">
                <div class="index">
                    <img class="imagen4" src="./assets/imagenes/campos.png"/>
                    <a href="#" class="navbar2-brand">CampoTrabajo</a>
                </div>
                
                <a href="#" class="nav-contacto">Contacto</a>     
                <a href="#" class="nav-login">Preguntas frecuentes</a>     
                <a href="#" class="nav-login">Mas informacion sobre nosotros</a>
                   
              </nav>
              <div class="pie">
                  <p class="txt"> Somos un portal que se encarga de servir de intermediario entre campesinos desplazados por la violencia que buscan empleo y empleadores que necesitan mano de obra con 
                      experiencia en ganadería, agricultura y otros oficios asociados con el campo</p>
              </div>
        </div>
    </footer> 
</body>
