<div class="container">
    <form (ngSubmit)="userRegister()">
        <div class="inputs">
            <label for ="Name">Nombre</label>
            <input class="casillas" type="text" id="Name" name="Name" [(ngModel)]="user.Name">
        </div>
        <div class="inputs">
            <label for = "Lastname1">Primer apellido</label>
            <input class="casillas" type="text" id="Lastname1" name="Lastname1" [(ngModel)]="user.Lastname1">
        </div>
        <div class="inputs">
            <label for="Lastname2">Segundo apellido</label>
            <input class="casillas" type="text" id="Lastname2" name="Lastname2" [(ngModel)]="user.Lastname2">
        </div>
        <div class="inputs">
            <label for="Phone">Numero de celular</label>
            <input class="casillas" type="text" id="Phone"name="Phone" [(ngModel)]="user.Phone">
        </div>
        <div class="inputs">
            <label for="Password">contraseña</label>
            <input class="casillas" type="text" id="Password" name="Password" [(ngModel)]="user.Password">
        </div>
    <button type="submit" class="btn">Unirme</button>   
    </form>
</div>