<body>
    <header>
        <div class="head">
            <div class="cont">
                <img class="imagen1" src="./assets/imagenes/campos.png"/>
                <a href="#" class="navbar-brand">CampoTrabajo</a>
            </div>
            
        </div>
    </header>

    <div class="body">
        <div class="encabezadodiv">
            <h1 class="encabezado">Comencemos...al que madruga Dios le ayuda</h1>
        </div>
        
        <div class="body2">
            <div class="body3">
                    
                <div class="formulario">
                    <div class="inputs">
                        <p class="form-text">Nombre</p>
                        <input class="casillas" type="text">
                    </div>
                <div class="inputs">
                    <p class="form-text">Primer apellido</p>
                    <input class="casillas" type="text">
                </div>
                <div class="inputs">
                    <p class="form-text">Segundo apellido</p>
                    <input class="casillas" type="text">
                </div>
                <div class="inputs">
                    <p class="form-text">Numero de celular</p>
                    <input class="casillas" type="text">
                </div>
                <div class="inputs">
                    <p class="form-text">contraseña</p>
                    <input class="casillas" type="text">
                </div>
                <div class="boton">
                    <button class="Unirme">Unirme</button>
                </div>
            </div>
            </div>
            <div class="img">
                <img class="imagen2" src="./assets/imagenes/field.png"/>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
            <nav class="navbar2">
                <div class="index">
                    <img class="imagen4" src="./assets/imagenes/campos.png"/>
                    <a href="#" class="navbar2-brand">CampoTrabajo</a>
                </div>
                
                <a href="#" class="nav-contacto">Contacto</a>     
                <a href="#" class="nav-login">Preguntas frecuentes</a>     
                <a href="#" class="nav-login">Mas informacion sobre nosotros</a>
                   
              </nav>
              <div class="pie">
                  <p class="txt"> Somos un portal que se encarga de servir de intermediario entre campesinos desplazados por la violencia que buscan empleo y empleadores que necesitan mano de obra con 
                      experiencia en ganadería, agricultura y otros oficios asociados con el campo</p>
              </div>
        </div>
    </footer>
</body>
