<body>
    
    <!-- <header>
        <nav class="navbar">
            
            <div class="nav-text1">
                <img class="imagen3" src="./assets/imagenes/campos.png"/>    
                <a href="#" class="navbar-brand">CampoTrabajo</a>
            </div>
            <div class ="nav-text2">
                <a href="registro" class="nav-registro">Registrarse</a>
                <a href="login" class="nav-login">Iniciar sesion</a>
            </div>   
        </nav>
    </header> -->

    <!-- <div class="imagen1" style="margin: auto">
        <img src="./assets/imagenes/granjero-lindo.png"/>
    </div>
    <div style="width: 400px; margin: auto">
        <label for="mensaje" class="bienvenida">Bienvenido! Forma parte de nuestra comunidad y construyamos juntos un nuevo hogar</label>
    </div>
    
    <div style="width: 400px; margin: auto;">
        <div class="form-busqueda">
            <input 
            type="text"
            >
        </div>
    </div>
    <div class="contacto">
        <div class="imagen2">
            <img src="./assets/imagenes/whatsapp.png"/>
        </div>
        <div style="margin: bottom"> 
            <label for="mensaje" class="bienvenida">¿Preguntas? Escribe o llama al 1354864677</label>
        </div>
    </div>
    <footer>
        <nav class="navbar2">
            <a href="#" class="navbar2-brand">CampoTrabajo</a>
            <div class="navbar-nav2">
              <li class="nav2-item">
                <a href="#" class="nav-contacto">Contacto</a>
              </li>
              <li class="nav2-item">
                <a href="#" class="nav-login">Preguntas frecuentes</a>
              </li>
              <li class="nav2-item">
                <a href="#" class="nav-login">Mas informacion sobre nosotros</a>
              </li>
            </div>
          </nav>
    </footer> -->
</body>


