<body>
<header>
    <nav class="navbar">
        <div class="nav-text1">
            <img class="imagen3" src="./assets/imagenes/campos.png"/>
            <a href="#" class="navbar-brand">CampoTrabajo</a>
        </div>
        <div class ="nav-text2">
            <a href="registro" class="nav-registro">Registrarse</a>
            <a href="login" class="nav-login">Iniciar sesion</a>
        </div>
    </nav>
</header>

<div class="centro">
    <div class="texto">
        <p for="mensaje" class="bienvenida">Bienvenido! Forma parte de nuestra comunidad y construyamos juntos un nuevo hogar</p>
        <div class="busqueda">
            <input class="form-busqueda" 
            type="text"
            >
            <button>Buscar trabajo</button>
        </div>
        
    </div>
    <img src="./assets/imagenes/granjero-lindo.png"/>    
</div>

<div class="contacto">
    <div class="contimg2">
        <img class="imagen2" src="./assets/imagenes/whatsapp.png"/>
    </div>
    <div style="margin: bottom"> 
        <label for="mensaje" class="bienvenida">¿Preguntas? Escribe o llama al 1354864677</label>
    </div>
</div>
<footer>
    <div class="footer">
        <nav class="navbar2">
            <div class="index">
                <img class="imagen5" src="./assets/imagenes/campos.png"/>
                <a href="#" class="navbar2-brand">CampoTrabajo</a>
            </div>
            
            <a href="#" class="nav-contacto">Contacto</a>     
            <a href="#" class="nav-login">Preguntas frecuentes</a>     
            <a href="#" class="nav-login">Mas informacion sobre nosotros</a>
               
          </nav>
          <div class="pie">
              <p class="txt"> Somos un portal que se encarga de servir de intermediario entre campesinos desplazados por la violencia que buscan empleo y empleadores que necesitan mano de obra con 
                  experiencia en ganadería, agricultura y otros oficios asociados con el campo</p>
          </div>
    </div>
    
</footer> 
</body>



